@font-face {
    font-family: 'FFDINWeb';
    src: url(../../fonts/webfonts/2FA0A8_3_0.eot);
    src: url(../../fonts/webfonts/2FA0A8_3_0.eot?#iefix) format('embedded-opentype'), url(../../fonts/webfonts/2FA0A8_3_0.woff2) format('woff2'), url(../../fonts/webfonts/2FA0A8_3_0.woff) format('woff'), url(../../fonts/webfonts/2FA0A8_3_0.ttf) format('truetype')
}
@font-face {
    font-family: 'FFDINWebItalic';
    src: url(../../fonts/webfonts/2FA0A8_0_0.eot);
    src: url(../../fonts/webfonts/2FA0A8_0_0.eot?#iefix) format('embedded-opentype'), url(../../fonts/webfonts/2FA0A8_0_0.woff2) format('woff2'), url(../../fonts/webfonts/2FA0A8_0_0.woff) format('woff'), url(../../fonts/webfonts/2FA0A8_0_0.ttf) format('truetype')
}

@font-face {
    font-family: 'FFDINWebMedium';
    src: url(../../fonts/webfonts/2FA0A8_2_0.eot);
    src: url(../../fonts/webfonts/2FA0A8_2_0.eot?#iefix) format('embedded-opentype'), url(../../fonts/webfonts/2FA0A8_2_0.woff2) format('woff2'), url(../../fonts/webfonts/2FA0A8_2_0.woff) format('woff'), url(../../fonts/webfonts/2FA0A8_2_0.ttf) format('truetype')
}

@font-face {
    font-family: 'FFDINWebMediumItalic';
    src: url(../../fonts/webfonts/2FA0A8_5_0.eot);
    src: url(../../fonts/webfonts/2FA0A8_5_0.eot?#iefix) format('embedded-opentype'), url(../../fonts/webfonts/2FA0A8_5_0.woff2) format('woff2'), url(../../fonts/webfonts/2FA0A8_5_0.woff) format('woff'), url(../../fonts/webfonts/2FA0A8_5_0.ttf) format('truetype')
}

@font-face {
    font-family: 'FFDINWebBold';
    src: url(../../fonts/webfonts/2FA0A8_1_0.eot);
    src: url(../../fonts/webfonts/2FA0A8_1_0.eot?#iefix) format('embedded-opentype'), url(../../fonts/webfonts/2FA0A8_1_0.woff2) format('woff2'), url(../../fonts/webfonts/2FA0A8_1_0.woff) format('woff'), url(../../fonts/webfonts/2FA0A8_1_0.ttf) format('truetype')
}
@font-face {
    font-family: 'FFDINWebBoldItalic';
    src: url(../../fonts/webfonts/2FA0A8_4_0.eot);
    src: url(../../fonts/webfonts/2FA0A8_4_0.eot?#iefix) format('embedded-opentype'), url(../../fonts/webfonts/2FA0A8_4_0.woff2) format('woff2'), url(../../fonts/webfonts/2FA0A8_4_0.woff) format('woff'), url(../../fonts/webfonts/2FA0A8_4_0.ttf) format('truetype')
}



body{
    font-family: 'FFDINWeb', Arial;
    font-size:16px;
}
.slo-common-med_font{
    font-family: 'FFDINWebMedium';
}
